.midcontent-con{
    margin: auto;
    width: 1280px;
    height: 280px;
    position: relative;
    font-family: Lantinghei SC;
}
.mid-left{
    height: 360px;
    width: 192px;
    padding: 12px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.24);
    background: #fff;
    position: absolute;
    left: 0px;
    top: 0px;
}
.cat{
    width: 192px;
    height: 28px;
}
.cat-title{
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0 16px;
}
.cat-icon{
    float: left;
    font-size: 22px;
}
.cat a{
    color: rgba(0,0,0,.87);
}
.jiantou{
    float: right;
    color: rgba(0,0,0,.24);
    font-size: 14px;
}
.cat:hover .cat-title>a{
    color: #f40;
}
.cat:hover i{
    color: #f40;
}
.cat-container{
    display: none;
    position: absolute;
    top: 0;
    left: 192px;
    background: #fff;
    width: 1088px;
    height: 360px;
    overflow: hidden;
    z-index: 100;
}
.cat-con{
    padding-left: 24px;
    padding-top: 25px;
    box-sizing: border-box;
    float: left;
    width: 828px;
}
.cat-con-child{
    float: left;
    width: 370px;
    height: 132px;
    overflow: hidden;
    margin-right: 32px;
    margin-bottom: 32px;
}
.cat-con-child a{
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
    margin-right: 24px;
    margin-bottom: 16px;
    float: left;
    line-height: 1;
}
.cat-child-title{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.87);
    float: none;
    line-height: 1;
    margin-right: 24px;
    margin-bottom: 16px;
}
.tuijianItem{
    width: 242px;
    float: left;
}
.tuijianItem a{
    width: 242px;
    height: 100px;
    display: block;
    position: relative;
    margin-top: 15px;
}
.tuijianItem img{
    width: 100%;
}
.title-bg{
    opacity: .38;
    background: #000;
}
.title-1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 4px 4px;
}
.cat-con-child a:hover{
    color: #f40;
}
.cat:hover .cat-container{
    display: block;
}
.lunbobox{
    position: relative;
    float: left;
    margin-left: 192px;
    width: 896px;
    height: 280px;
    overflow: hidden;
    background-color: #f40;
}
.card-container{
    width: 192px;
    float: right;
    position: relative;
    z-index: 20;
}
.card-container a{
    display: block;
    width: 100%;
    height: 140px;
}
.card-container img{
    width: 100%;
}
.mid-bottom{
    margin-top: 32px;
    padding-bottom: 8px;
    width: 1280px;
    height: 48px;
    margin: 0 auto;
    overflow: hidden;
}
.mid-bottom-con{
    padding-left: 215px;
    overflow: hidden;
    width: 1305px;
}
.mid-bottom-bg{
    float: left;
    overflow: hidden;
    text-decoration: none;
    margin-right: 25px;
}
.mid-bottom-img{
    float: left;
    width: 42px;
    height: 40px;
}
.rtitle{
    margin-left: 52px;
}
.rtitle p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: -2px;
    color: #000;
}
.subTitle{
    height: 12px;
}
.nosub{
    margin-top: 10px;
}