*{
	margin: 0px;
	padding: 0px;	
}
body{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
ul,li ,ol {
    list-style: none;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 1280px){
    body{
        width: 1280px!important;
    }
}